<div class="card">
  <img src="<%= filme.imagem %>" alt="Sombras do Amanhã" />
  <h3><%= filme.titulo %></h3>
  <p class="descricao"><%= filme.descricao %></p>
  <p class="info">
    <strong>Data:</strong> <%= new
    Date(filme.data_lancamento).toLocaleDateString('pt-BR') %>
  </p>
  <p class="info"><strong>Gênero:</strong> <%= filme.genero.join(" / ") %></p>
</div>
